body {
    background: url(../img/login-page.png) no-repeat center fixed;
    background-size: cover;
    background-origin: border-box;
    min-height: 100%;
}

#div-login-msg,
#div-lost-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.error,
#div-lost-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.error,
#icon-lost-msg.error {
    background-color: #eb575b !important;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password], input[type=email], input[type=tel], select {
    margin-top: 10px;
}

.login-btn {
    background-color: #F0FAFD;
    border-color: #786450;
    border-width: 3px;
    border-radius: 50%;
    position: fixed;
    left: 40%;
    top: 15%;
    font-family: KaiTi;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0;
    outline: 0;
}

.modal-header {
    min-height: 16px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0;
}